:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background: #2f303a;
  --accent-color-pictures: rgba(33, 150, 243, 0.9);
}

/*герой*/

.hero {
  position: relative;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;

  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--footer-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/index-images/header-image.jpg');
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
}

.hero .button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*advantages*/
.advantages {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.advantages .item {
  display: block;
  padding: 0;
  max-width: 270px;
}

.advantages .item + .item {
  margin-left: 30px;
}

.advantages .link {
  display: block;
  margin-bottom: 30px;
}

.advantages-rectangle {
  display: inline-block;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advantages-rectangle .icon {
  width: 70px;
  height: 70px;
}

.advantages .advatage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.advantages .text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 2;
}

/*what.we.do*/

.what-we-do {
  border-top: 1px solid #ececec;
}

.what-we-do-container {
  display: block;
}

.what-we-do-container .title {
  margin-bottom: 50px;
}

.applications {
  display: flex;
}

.app-image {
  display: block;
  border-radius: none;
}

.applications-card {
  position: relative;
}

.applications-card .link {
  display: block;
}

.applications > .item {
}

.applications .item + .item {
  margin-left: 30px;
}

.applications .applications-type {
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  height: 70px;

  position: absolute;

  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}

/*our-team*/

.team-section {
  background: #f5f4fa;
}

.our-team-container {
  display: block;
}

.our-team-container .title {
  margin-bottom: 50px;
}

.members {
  display: flex;
}

.members-card {
  display: block;
  max-width: 270px;
  padding-bottom: 24px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.members .members-card + .members-card {
  margin-left: 30px;
}

.members-picture {
  display: block;
  margin-bottom: 30px;
}

.members-name,
.members-profession {
  font-size: 16px;
  line-height: 1.19;
}

.members-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.members-profession {
  margin-top: 0;
  margin-bottom: 16px;
}

.social-media__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.social-medial__link--light {
  fill: #afb1b8;
  background-color: var(--primary-white-color);
}

.social-media__link:hover {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-links__icon + .social-links__icon {
  margin-left: 10px;
}

/*our-clients*/

.our-clients-container {
  display: block;
}

.our-clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients__link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__logo {
  fill: inherit;
}

/*modal*/
.backdrop {
  position: fixed;
  display: inline-flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  position: absolute;
  display: block;

  padding: 40px;
  width: 528px;
  height: 581px;

  visibility: visible;
  opacity: 1;

  text-align: center;
  background-color: var(--primary-white-color);
}

.form__title {
  display: block;

  max-width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.form__field {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  padding-left: 42px;
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__label {
  display: block;
  position: absolute;

  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  line-height: 1.14;
}

.form__input:focus ~ .form__label {
  transform: translateX(-24px) translateY(-250%);
  color: var(--accent-color);
}

/*textarea*/

.comment-textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.comment-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.comment__label {
  position: absolute;
  top: 12px;
  left: 16px;
}

.comment-textarea:focus + .comment__label {
  transform: translateY(-200%);
  color: var(--accent-color);
}

/*policy*/

.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2;
}

.policy-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;

  width: 15px;
  height: 15px;

  margin-right: 8px;
  border: 1px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.policy-checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
  background-image: url(../images/index-images/check-1.svg);
}

.conditions-link {
  color: var(--accent-color);
}

.form__close {
  display: block;
  position: absolute;
  background-image: url(../images/index-images/modal-close-opt.svg);

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-white-color);
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  width: 30px;
  height: 30px;

  top: 0;
  right: 0;

  transform: translateX(50%) translateY(-50%);
  border-radius: 50%;
}
